body{
    background-color: rgb(42, 208, 208);
}

main {
   border: solid 5px green;
   width: 50%;
   margin: auto;
   background-color: white;
   font-size: 1.5em; 
}

table {
    border: solid 5px black;
    width: 700px;
    height: 500px;
    margin: auto;
    background-color: white;
}

table td{
    border: solid 5px blue;
    width: 100px;
    height: 100px;
    text-align: center;
}

img{
    width: 100px;
}

.td-bg-img-1{
    background-image: url(img3.jfif);
    /* background-size: 100% 100%; */
}